<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add-User</title>
</head>

<body>
<h2>New User</h2>
<br>

<form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
    <div>
        <input type="hidden"  th:field="*{id}" id="id"/>
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username"/>
        <br>
        <br>
        <label for="surname">Surname</label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br>
        <br>
        <label for="year">Year</label>
        <input type="text" th:field="*{year}" id="year"/>
        <br><br>
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password"/>
        <br><br>

        <input type="submit"  value="Add User"/>
    </div>
</form>
<br><br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>