<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>

<body>
<h2>Edit User</h2>
<br>

<form th:method="POST" th:action="@{/admin/update?id={id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <br>
    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <br>
    <label for="year">Year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <br>
    <br>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <br>

    <input type="submit" value="Edit"/>
</form>
<br><br>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>