<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h2>User Info</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Surname</th>
        <th>Year of birth</th>
        <th>Password</th>
    </tr>

    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getYear()}"></td>
        <td th:text="${user.getPassword()}"></td>
</tr>
</table>
<br>
<br>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
<br><br>
</div>
</body>
</html>