<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>

<body>
<h2>All Users</h2>
<br>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Surname</th>
        <th>Year</th>
        <th>Password</th>
    </tr>
    <tr th:each ="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getSurname()}"></td>
        <td th:utext="${user.getYear()}"></td>
        <td th:utext="${user.getPassword()}"></td>
        <td><a th:href="@{/admin/update(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/admin/delete(id=${user.getId()})}">Delete</a></td>
    </tr>
</table>
<br>
<br>

<form >
    <a th:href="@{/admin/addUser}">Add User</a>
</form>

<br><br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>